# Created by venv; see https://docs.python.org/3/library/venv.html

# Entorno virtual
venv/
env/
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc

# Variables de entorno con claves/contraseñas
.env